*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
#boxPadre{
    border: 2px solid #639874;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}
#reloj{
    border: 3px dashed #fff;
    font-weight: 300;
    font-size: xx-large;
    font-family: 'Alumni Sans Inline One', cursive;
    color:#fff;
    background-color: rgb(15, 8, 8);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
#contenedor6{
    border: 2px dashed rgba(223, 18, 195, 0.6);
}





/* estilos de la galeria modal */
.paisajes{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
    
}
.paisajes:hover{
    opacity: 1;
    transform:scale(1.2);
    margin: 40px;
    box-shadow: 0 5px 5px rgba(1, 23,46, 0.6);
    transition: .2s;
}





@media screen and (max-width:570px) {
    #boxPadre{
        border: none;
    }
}
@media screen and (max-width:570px) {
    #contenedor6{
        border: none;
    }
}
